.home {
    position: relative;
    background: #ffffff;

}

.home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    /* background-color: hsla(0, 0%, 8%); */
    background: hsla(23, 39%, 9%, 1);
    /* background: linear-gradient(to right,
            hsla(23, 39%, 9%, 1) 50%,
            hsla(23, 39%, 9%, 1) 0%,
            orange 50%,
            orange 50%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

}

#home-cont {
    position: relative;
    padding-top: 2.5rem;


}

#intro-title {
    color: #ffffff;
}

.image-container {
    width: 580px;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0 16px 32px rgba(22, 39, 106, 0.251);

}

.home-image {
    position: relative;
    background-color: #f6f6f6;
    border-radius: 20rem 20rem 0 0;
    height: 475px;


}

#introImg {
    width: 400px;
    bottom: 30%;
    left: 10%;
    position: relative;
    margin: 0 auto;
    z-index: 5;

}

.img-shadow {
    width: 400px;
    height: 200px;
    background-color: rgba(22, 39, 106, 0.251);
    border-radius: 10%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
    opacity: 50%;
}

.home-title {
    display: flex;
    justify-content: left;
    column-gap: 2rem;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    font-family: 'Lilita One';
    /* text-shadow: 3px 3px 1px #FF1493; */
    font-weight: 800;
    color: #f4e6cc;
}

.type-title {
    display: flex;
    justify-content: left;
    text-align: center;
    font-size: 4.5rem;
    line-height: 1;
    font-family: 'Lilita One';
    /* text-shadow: 3px 3px 1px hsla(23, 39%, 9%, 1); */
    color: black;
    /* padding-left: 13rem; */
}

.link-sect {
    position: relative;
    background-color: #ffffff;
}


#roast-cont {
    position: relative;
    padding-top: 2.5rem;


}


/* .images {
    width: 200px;
    height: auto;
} */

/* 
#test {

    background-color: #EFF9F0;
} */