.card_container {
    padding-block: 5rem;
}

.card_content {
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article {
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-image {
    position: relative;
    background-color: hsla(23, 39%, 9%, 1);
    /* max-height: fit-content;
    max-width: 300px; */
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card-data {
    background-color: #f4e6cc;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    font-weight: 600;
    z-index: 10;
}

.card-img {
    width: 250px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

}


.card-shadow {
    width: 200px;
    height: 200px;
    background-color: #f4e6cc;
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
    opacity: 35%;

}