.card_container {
    padding-block: 1.5rem;

}

.card_content {
    width: 350px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article {
    margin: 0 auto;
}


.card-image {
    position: relative;
    background-color: rgb(75, 68, 64);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card-data {
    background-color: rgb(75, 68, 64);
    padding: 1rem 2rem;
    color: #ffffff;
    text-align: start;
    position: relative;
    font-weight: 600;
}

.card-text {
    position: relative;
    text-align: start;
    color: #c7c5c5;
    padding: 0 2rem;
    font-weight: 400;

}

.card-img {
    max-height: 250px;
    max-width: 250px;
    object-fit: cover;
    position: relative;
    z-index: 5;
}


.card-shadow {
    width: 200px;
    height: 200px;
    background-color: #f4e6cc;
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
    opacity: 35%;

}